<%= form_for [@course, team] do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% if team.id.present? %>
      <%= f.hidden_field :id, :value => team.id %>
    <% end %>
    <% if !team.course_id.present? %>
      <%= f.hidden_field :course_id, :value => @course.id %>
    <% end %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
    <%= f.button 'Save', :class => 'tiny right', :type => 'submit' %>
<% end %>
