<%= stylesheet_link_tag    'jquery.dataTables.min', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.core', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.standalone', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable-demos', media: 'all', 'data-turbolinks-track' => true %>
<div class="box">
  <div class="box-header bg-transparent">
    <h3 class="box-title"><i class="fontello-users-outline"></i>
      <span>TEAMS</span>
    </h3>
    <!-- tools box -->
    <div class="pull-right box-tools">
      <span class="box-btn" data-widget="new">
        <%= link_to "#", "data-reveal-id" => "add_team", class: "text-dark-blue", remote: true do %>
          <i class="fontello-plus" title="add a team"></i>
        <% end %>
      </span>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body " style="display: block;">
    <div class="school-timetable">
      <hr>
      <% @course.teams.each do |team| %>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <span class="box-btn">
          <%= link_to "#", "data-reveal-id" => "team_members_#{team.id}" do %>
            <i class="fontello-users" title="View team members"></i>
          <% end %>
        </span>
        <span class="box-btn">
          <%= link_to "#", "data-reveal-id" => "edit_team_#{team.id}" do %>
            <i class="fontello-pencil" title="edit"></i>
          <% end %>
        </span>
        <span class="box-btn">
          <%= link_to course_team_path(@course, team), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fontello-trash-2" title="delete"></i>
          <% end %>
        </span>
      </div>
      <h5><%= team.name %></h5>
      <h6><i class=" fontello-flow-split"></i> <%= team.slug %></h6>
      <h6><i class=" fontello-flow-split"></i> <%= team.repository %></h6>
      <hr>
      <% end %>
    </div>
    <br />
  </div>
  <!-- end .timeline -->
</div>
<!-- box -->

<div id="add_team" class="reveal-modal" data-reveal>
  <%= render partial: 'teams/form', locals: {team: @course.teams.new} %>
  <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
</div>


<% @course.teams.each do |team| %>
  <div id="edit_team_<%= team.id %>" class="reveal-modal" data-reveal>
    <%= render partial: 'teams/form', locals: {team: team}  %>
    <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
  </div>

  <!-- Reveal Modals team members -->
  <div id="team_members_<%= team.id %>" class="reveal-modal" data-reveal>
    <%= render '/teams/team_members', team: team %>
    <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
  </div>
<% end %>
