<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @team.slug %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @team.repository %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', :back %>
