<%= stylesheet_link_tag    'jquery.dataTables.min', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.core', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.standalone', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable-demos', media: 'all', 'data-turbolinks-track' => true %>
<div class="box">
  <div class="box-header bg-transparent">
    <h3 class="box-title"><span class="fontello-doc-text"></span>
      <span>ASSIGNMENTS</span>
    </h3>
    <!-- tools box -->
    <div class="pull-right box-tools">
      <% if current_user.instructor? %>
      <span class="box-btn" data-widget="new">
        <%= link_to new_course_assignment_path(@course), class: "text-dark-blue" do %>
          <i class="fontello-plus" title="new"></i>
        <% end %>
      </span>
      <% end %>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body " style="display: block;">
    <div class="school-timetable">
      <hr>
      <% @course.assignments.each do |assignment| %>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <span class="box-btn" data-widget="show">
          <%= link_to assignment do %>
            <i class="fontello-eye" title="show"></i>
          <% end %>
        </span>
        <% if current_user.instructor? %>
        <span class="box-btn" data-widget="edit">
          <%= link_to edit_course_assignment_path(@course, assignment) do %>
            <i class="fontello-pencil" title="edit"></i>
          <% end %>
        </span>
        <span class="box-btn" data-widget="delete">
          <%= link_to assignment, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fontello-trash-2" title="delete"></i>
          <% end %>
        </span>
        <% end %>
      </div>
      <h5>
        <%= link_to assignment do %>
        <strong><%= assignment.name %></strong>
        <% end %>
      </h5>
      <h6><i class=" fontello-users"></i> <% if assignment.is_team_mode %>In teams<% end %></h6>
      <h6><i class=" fontello-flow-split"></i> <%= assignment.branch_name %> </h6>
      <h6><i class=" fontello-clock"></i> <%= assignment.deadline.strftime("%a, %B %-d") %>
        <span class="bg-black"><%= assignment.deadline.strftime("%I:%M %p") %></span>
        <% if assignment.grace_period.present? %>
          &nbsp; - &nbsp; <%= assignment.grace_period.strftime("%a, %B %-d") %><span class="bg-black"><%= assignment.grace_period.strftime("%I:%M %p") %></span>
        <% end %>
      </h6>
      <hr>
      <% end %>
    </div>
    <br />
  </div>
  <!-- end .timeline -->
</div>
<!-- box -->
