<%= form_for [@course, @assignment] do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <form>
        <div class="row">
          <div class="large-6 columns">
            <%= f.label :name do %>Title <small>required</small>
              <%= f.text_field :name %>
            <% end %>
          </div>
          <div class="large-6 columns">
            <%= f.label :language do %>Programming Language <small>required</small>
              <%= f.select(:language, Assignment.languages.keys.to_a) %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <%= f.label :branch_name do %>Branch Name <small>required</small>
              <%= f.text_field :branch_name, {disabled: @assignment.is_published?} %>
            <% end %>
          </div>
          <div class="large-6 columns">
            <%= f.label :skeleton_branch_name do %>Skeleton Branch Name
              <%= f.select(:skeleton_branch_name, @course.skeleton_branch_names, {}, {disabled: @assignment.is_published?}) %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <%= f.label :deadline do %>Deadline <small>required</small>
              <%= f.text_field :deadline, id: 'deadlineDateTimePicker' %>
            <% end %>
          </div>
          <div class="large-6 columns">
            <%= f.label :grace_period do %>Grace period
              <%= f.text_field :grace_period, id: 'gracePeriodDateTimePicker' %>
            <% end %>
          </div>
        </div>
        <% if @assignment.new_record? %>
        <div class="row">
          <div class="large-12 columns">
            <%= f.check_box :is_team_mode %>
            <%= f.label :is_team_mode do %>Are students in teams?<% end %>
          </div>
        </div>
        <% end %>
        <div class="row">
          &nbsp;
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= link_to 'Cancel', :back, class: "button tiny secondary right" %>
            <%= f.button 'Save', :class => 'tiny right spacer', :type => 'submit' %>
          </div>
        </div>
      </form>
    </div>
  </div>
<% end %>
