<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</p>
      <ul>
        <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="large-9 columns">
      <form>
        <div class="row">
          <div class="large-6 columns">
            <%= f.label :name do %>Title <small>required</small>
              <%= f.text_field :name, value: 'Assignment 1' %>
            <% end %>
          </div>
          <div class="large-6 columns">
            <%= f.label :slug do %>Branch Name <small>required</small>
              <%= f.text_field :slug, value: 'assignment_1' %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :course do %>Course <small>required</small>
              <%= f.collection_select(:course_id, Course.all, :id, :name) %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <%= f.label :deadline do %>Deadline
              <%= f.text_field :deadline, id: 'deadlineDateTimePicker' %>
            <% end %>
          </div>
          <div class="large-6 columns">
            <%= f.label :grace_period do %>Grace period
              <%= f.text_field :grace_period, id: 'gracePeriodDateTimePicker' %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <%= f.check_box :is_team_mode %>
            <%= f.label :is_team_mode do %>Are students in teams?<% end %>
          </div>
          <div class="large-6 columns">
            <%= f.check_box :is_published %>
            <%= f.label :is_published do %>To publish the assignment now, please check the box.<% end %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= link_to 'Cancel', assignments_path, class: "right radius button tiny secondary" %>
            <span class="right">&nbsp;&nbsp;</span>
            <%= f.button 'Save', :class => 'right tiny', :type => 'submit' %>
          </div>
        </div>
      </form>
    </div>
<% end %>
