<!-- Container Begin -->
<div class="row">
  <div class="large-12 columns">
    <div class="box bg-white">
      <div class="box-header bg-transparent">
        <h3 class="box-title"><i class="fontello-paper-plane"></i>
          <span>SUBMISSIONS</span>
        </h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body" style="display: block;">
        <span class="top-right"><%= link_to 'Run Plagiarism Check', "#", class: "button tiny" %></span>
        <table id="footable-res2" class="fixed-ellipsis demo no-paging footable-loaded footable tablet breakpoint" data-filter="#filter" data-filter-text-only="true">
          <thead>
          <tr>
            <th style="width: 40px !important;"></th>
            <th>
              Student Name
            </th>
            <th>
              Student Number
            </th>
            <th>
              Github Username
            </th>
            <th>
              Test status
            </th>
            <th>
              Grade
            </th>
            <th>
              Feedback
            </th>
          </tr>
          </thead>
          <tbody>
          <% @assignment.submissions.each do |submission| %>
          <tr>
            <td >
              <%= link_to edit_submission_path(submission) do %>
                <i class="fontello-pencil" title="edit"></i>
              <% end %>
            </td>
            <td>
              <%= User.find_by(id: submission.submitter_id).name %>
            </td>
            <td>
              <%= User.find_by(id: submission.submitter_id).id %> <!-- this needs to be replaced by UBC student id once added to the model-->
            </td>
            <td>
              <%= User.find_by(id: submission.submitter_id).username %>
            </td>
            <td>
              <%= link_to 'Run Test', test_path(submission), class: "button tiny", style: "margin-bottom: 0px" %>
              <% if submission.test_result? %>
                <%= link_to submission.test_output, submission.test_result, class: "fontello-eye ellipsis",  "data-reveal-id" => "testResult" %>
              <% end %>
              <% if !submission.test_result? %>
                <i class="fontello-eye">No result</i>
              <% end %>
            </td>
            <td><%= submission.grade %></td>
            <td>
              <%= link_to submission.feedback, "", class: "fontello-eye ellipsis",  "data-reveal-id" => "feedback" %>
            </td>
          </tr>

          <!-- Reveal Modals begin -->
          <div id="testResult" class="reveal-modal" data-reveal>
            <h4>Test Results</h4>
            <p><pre><%= submission.test_output %></pre></p>
            <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
          </div>

          <!-- Reveal Modals begin -->
          <div id="feedback" class="reveal-modal" data-reveal>
            <h4>Feedback</h4>
            <p><pre><%= submission.feedback %></pre></p>
            <%= link_to edit_submission_path(submission) do %>
              <i class="fontello-pencil" title="edit"></i>
            <% end %>
            <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
          </div>


          <% end %>
          </tbody>
        </table>
        <!-- end of submissions table -->
      </div>
      <!-- end of student box body -->
    </div>
    <!-- end of student box -->
  </div>
  <!-- end of student div -->
</div>
<!-- End of Container Begin -->
