<%= stylesheet_link_tag    'jquery.dataTables.min', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.core', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.standalone', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable-demos', media: 'all', 'data-turbolinks-track' => true %>
<!-- Container Begin -->
<div class="row">
  <div class="large-12 columns">
    <div class="box">
      <div class="box-header bg-transparent">
        <h3 class="box-title"><i class="fontello-doc-1"></i>
          <span>Assignment Overview</span>
        </h3>
        <!-- tools box -->
        <div class="pull-right box-tools">
          <span class="box-btn" data-widget="new">
            <%= link_to new_assignment_path do %>
              <i class="fontello-plus" title="new"></i>
            <% end %>
          </span>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body " style="display: block;">
        <span><%= notice %></span>
        <% @assignments.each do |assignment| %>
        <div class="school-timetable">
          <hr>
          <!-- tools box -->
          <div class="pull-right box-tools">
            <span class="box-btn" data-widget="show">
              <%= link_to assignment do %>
                <i class="fontello-eye" title="show"></i>
              <% end %>
            </span>
            <span class="box-btn" data-widget="edit">
              <%= link_to edit_assignment_path(assignment) do %>
                <i class="fontello-pencil" title="edit"></i>
              <% end %>
            </span>
            <span class="box-btn" data-widget="delete">
              <%= link_to assignment, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fontello-trash-2" title="delete"></i>
              <% end %>
            </span>
          </div>
          <h5>
            <%= link_to assignment do %>
              <strong><%= assignment.name %></strong>
            <% end %>
          </h5>
          <h6><i class=" fontello-flow-split"></i> <a class="text-gray" href="#"><%= assignment.slug %></a></h6>
          <h6><i class=" fontello-tag"></i><span class="bg-green">
            <% if assignment.course_id? %>
              <%= Course.find_by(id: assignment.course_id).name %>
            <% end %>
          </span></h6>
          <h6><i class=" fontello-clock"></i>&nbsp;<%= @assignment.deadline.strftime("%a, %B %-d") %>
            <span class="bg-black"><%= @assignment.deadline.strftime("%I:%M %p") %></span>
          </h6>
          <hr>
        </div>
        <% end %>
        <br />
      </div>
      <!-- end .timeline -->
    </div>
    <!-- box -->
  </div>
</div>
<!-- End of Container Begin -->
