<%= stylesheet_link_tag    'jquery.datetimepicker', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'jquery.dataTables.min', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.core', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.standalone', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable-demos', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'validate', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'jquery.idealforms', media: 'all', 'data-turbolinks-track' => true %>
<!-- Container Begin -->
<div class="row">
  <div class="large-12 columns">
    <div class="box">
      <div class="box-header bg-transparent">
        <h3 class="box-title"><i class="fontello-doc-1"></i>
          <span>Add an Assignment</span>
        </h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body pad-forty" style="display: block;">
        <%= render 'form' %>
      </div>
      <!-- end .timeline -->
    </div>
    <!-- box -->
  </div>
</div>
<!-- End of Container Begin -->
<%= javascript_include_tag 'jquery.date-dropdowns.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.datetimepicker.js', 'data-turbolinks-track' => true %>
<script type="text/javascript">
  (function($) {
    "use strict";

    $('#deadlineDateTimePicker').datetimepicker({
      dayOfWeekStart: 1,
      lang: 'en',
      format:'d/M/Y H:m',
      defaultDate: new Date()
    });
    $('#gracePeriodDateTimePicker').datetimepicker({
      dayOfWeekStart: 1,
      lang: 'en',
      format:'d/M/Y H:m',
      defaultDate: new Date()
    });
  })(jQuery);
</script>
