<%= stylesheet_link_tag    'jquery.dataTables.min', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.core', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.standalone', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable-demos', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'validate', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'jquery.idealforms', media: 'all', 'data-turbolinks-track' => true %>
<!-- Container Begin -->
<div class="row">
  <div class="large-12 columns">
    <div class="box">
      <!-- /.box-header -->
      <div class="box-body " style="display: block;">
        <div class="school-timetable">
          <!-- tools box -->
          <div class="pull-right box-tools">
            <span class="box-btn" data-widget="edit">
              <%= link_to edit_assignment_path(@assignment) do %>
                <i class="fontello-pencil" title="edit"></i>
              <% end %>
            </span>
            <span class="box-btn" data-widget="delete">
              <%= link_to @assignment, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fontello-trash-2" title="delete"></i>
              <% end %>
            </span>
            <span class="box-btn" >
              <%= link_to assignments_path do %>
                <i class="fontello-reply" title="back"></i>
              <% end %>
            </span>
          </div>
          <h5>
            <%= link_to @assignment do %>
            <i class="fontello-doc-1"></i> <strong><%= @assignment.name %></strong>
            <% end %>
          </h5>
        <hr>
        <div class="row">
          <div class="large-12 columns">
            <span><%= notice %></span>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <h6>Course:</h6>
          </div>
          <div class="large-10 columns">
            <h6><i class=" fontello-tag"></i><span class="bg-green"><%= @assignment.course.name %></span></h6>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <h6> Is a team assignment?</h6>
          </div>
          <div class="large-10 columns">
            <h6><i class=" fontello-users"></i>&nbsp;<a class="text-gray" href="#"><%= @assignment.is_team_mode %></a></h6>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <h6>Deadline: </h6>
          </div>
          <div class="large-10 columns">
            <h6><i class=" fontello-clock"></i>&nbsp;<a class="text-gray" href="#"><%= @assignment.deadline.strftime("%a, %B %-d") %></a>
              <span class="bg-black"><%= @assignment.deadline.strftime("%I:%M %p") %></span>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <h6>Grace period:</h6>
          </div>
          <div class="large-10 columns">
            <h6><i class=" fontello-clock"></i>&nbsp;<a class="text-gray" href="#"><%= @assignment.grace_period.strftime("%a, %B %-d") %></a>
              <span class="bg-black"><%= @assignment.grace_period.strftime("%I:%M %p") %></span>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <h6>Branch name</h6>
          </div>
          <div class="large-10 columns">
            <h6><i class=" fontello-flow-split"></i>&nbsp;<a class="text-gray" href="#"><%= @assignment.slug %></a></h6>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <h6>Instructor skeleton repository</h6>
          </div>
          <div class="large-10 columns">
            <h6><i class=" fontello-box"></i>&nbsp;<a class="text-gray" href="#"><%= @assignment.course.skeleton_repository %></a></h6>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <h6>Instructor test repository</h6>
          </div>
          <div class="large-10 columns">
            <h6><i class=" fontello-check"></i>&nbsp;<a class="text-gray" href="#"><%= @assignment.course.test_repository %></a></h6>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <h6>Is published?</h6>
          </div>
          <div class="large-10 columns">
            <h6><i class=" fontello-lock-open"></i>&nbsp;<a class="text-gray" href="#"><%= @assignment.is_published %></a></h6>
          </div>
        </div>
      </div>
        <hr />
      </div>
      <!-- end .timeline -->
    </div>
    <!-- box -->
  </div>
</div>
<!-- End of Container Begin -->

<%= render 'submissions' %>