<%= form_for(@submission) do |f| %>

  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</p>
      <ul>
        <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="large-3 columns">
    <p><strong>Grade <%= @submission.assignment.name %> by <%= User.find_by(id: @submission.submitter_id).name %></strong>
    </p>
  </div>
  <div class="large-9 columns">
    <form>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name do %>Grade <small>required</small>
          <%= f.number_field :grade, value: '' %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :slug do %>Feedback
          <%= f.text_area :feedback, value: '' %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= link_to 'Cancel', @submission , class: "right radius button tiny secondary" %>
          <span class="right">&nbsp;&nbsp;</span>
          <%= f.button 'Save', :class => 'right tiny', :type => 'submit' %>
        </div>
      </div>
    </form>
  </div>
</div>
<% end %>

