<%= stylesheet_link_tag    'validate', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'jquery.idealforms', media: 'all', 'data-turbolinks-track' => true %>

<%= form_for submission do |f| %>

<p><strong>Grading for <%= submission.assignment.name %> by <%= submission.submitter.name %></strong></p>

  <% if submission.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</p>
    <ul>
      <% submission.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <%= f.label :name do %>Grade <small>required</small>
  <%= f.number_field :grade, value: submission.grade %>
  <% end %>
  <%= f.label :slug do %>Feedback
  <%= f.text_area :feedback, value: submission.feedback %>
  <% end %>
  <%= f.button 'Save', :class => 'tiny right', :type => 'submit' %>
<% end %>
