<!-- Container Begin -->
<div class="row">
  <div class="large-12 columns">
    <div class="box bg-white">
      <div class="box-header bg-transparent">
        <h3 class="box-title"><i class="fontello-paper-plane"></i>
          <span>STUDENT SUBMISSIONS</span>
        </h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body" style="display: block;">
        <span class="top-right">
          <%= link_to 'Run Test', test_all_path(@assignment), class: "button tiny" %><span class="spacer"></span>
          <%= link_to 'Run MOSS', "#", class: "button tiny" %><span class="spacer"></span>
          <%= link_to 'Show MOSS Output', "#", class: "button tiny" %>
        </span>
        <table id="footable-res2" class="fixed-ellipsis demo no-paging footable-loaded footable tablet breakpoint" data-filter="#filter" data-filter-text-only="true">
          <thead>
            <tr>
              <th>
                Student Name
              </th>
              <th>
                Student Number
              </th>
              <th>
                Github Username
              </th>
              <th>
                Test status
              </th>
              <th>
                Grade
              </th>
              <th class="menu_items"></th>
            </tr>
          </thead>
          <tbody>
            <% @assignment.submissions.each do |submission| %>
              <tr>
                <td>
                  <%= submission.submitter.name %>
                </td>
                <td>
                  <%= submission.submitter.university_id %>
                </td>
                <td>
                  <%= submission.submitter.username %>
                </td>
                <td class="ellipsis">
                  <% if submission.test_result.present? %>
                    <%= link_to submission.test_result.titleize, "#", "data-reveal-id" => "test_result_#{submission.id}" %>
                  <% else %>
                    No result
                  <% end %>
                </td>
                <td><%= submission.grade %></td>
                <td>
                  <%= link_to "#", "data-reveal-id" => "edit_submission_#{submission.id}" do %>
                    <i class="fontello-pencil" title="Edit"></i>
                  <% end %>
                </td>
              </tr>

              <!-- Reveal Modals testResult -->
              <div id="test_result_<%= submission.id %>" class="reveal-modal" data-reveal>
                <h4>Test Results</h4>
                <p><pre><%= submission.test_output %></pre></p>
                <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
              </div>

              <!-- Reveal Modals editSubmission -->
              <div id="edit_submission_<%= submission.id %>" class="reveal-modal" data-reveal>
                <%= render '/submissions/form', submission: submission %>
                <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
              </div>

            <% end %>
            <!-- end of submissions loop -->
          </tbody>
        </table>
        <!-- end of submissions table -->
      </div>
      <!-- end of student box body -->
    </div>
    <!-- end of student box -->
  </div>
  <!-- end of student div -->
</div>
<!-- End of Container Begin -->
