<%= form_tag url_for(:action => :process_submissions, :id => @assignment.id), id: "submissions_form" do %>
  <span class="top-right">
    <%= submit_tag 'Run Tests', name: 'run_tests', class: "button tiny" %><span class="spacer"></span>
    <%= submit_tag 'Run MOSS', name: 'run_moss', class: "button tiny" %><span class="spacer"></span>
    <% if @assignment.moss_output.present? %>
      <%= link_to 'MOSS Output', @assignment.moss_output, class: "button tiny", target: "_blank" %>
    <% end %>
  </span>

  <div class="box-body" style="display: block;">
    <%= select("submission_id", "submitter_name", @assignment.submissions.collect {|submission| [submission.submitter.name, submission.id]}, { include_blank: true }, 
      {class: "chosen", multiple: "true", "data-placeholder": "Search submitters ..."}) %>
    <table id="footable-res2" class="fixed-ellipsis demo no-paging footable-loaded footable tablet breakpoint" data-filter="#filter" data-filter-text-only="true">
      <thead>
        <tr>
          <th class="menu_items text-center">
            <%= label_tag 'selectAll', 'Select All' %>
            <%= check_box_tag "selectAll", "selectAll", false %>
          </th>
          <th>
            Student Name
          </th>
          <th>
            Student Number
          </th>
          <th>
            Github Username
          </th>
          <th>
            Test status
          </th>
          <th>
            Grade
          </th>
          <th class="menu_items"></th>
        </tr>
      </thead>
      <tbody>
        <% @assignment.submissions.each do |submission| %>
          <tr id="submission_row_<%= submission.id %>">
            <td class="text-center">
              <%= check_box_tag "submission_ids[]", submission.id, false, :id => "submission_#{submission.id}", class: "selectAll" %>
            </td>
            <td>
              <%= submission.submitter.name %>
            </td>
            <td>
              <%= submission.submitter.university_id %>
            </td>
            <td>
              <%= submission.submitter.username %>
            </td>
            <td id="test_result_<%= submission.id %>">
              <% if submission.test_result.present? %>
                <% if submission.test_output.present? %>
                  <%= link_to submission.test_result.titleize, "#", "data-reveal-id" => "test_output_#{submission.id}", "data-reveal": true %>
                <% else %>
                  <%= submission.test_result.titleize %>
                <% end %>
              <% end %>
            </td>
            <td><%= submission.grade %></td>
            <td>
              <%= link_to "#", "data-reveal-id" => "edit_submission_#{submission.id}", "data-reveal": true do %>
                <i class="fontello-pencil" title="Edit"></i>
              <% end %>
              <%= link_to @assignment.branch_url(submission.repository), target: "_blank" do %>
                <i class="fontello-github" title="View on Github"></i>
              <% end %>
            </td>
          </tr>

          <% if submission.test_output.present? %>
            <!-- Reveal Modals test output -->
            <div id="test_output_<%= submission.id %>" class="reveal-modal" data-reveal>
              <h4>Test Results</h4>
              <p><pre><%= submission.test_output %></pre></p>
              <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
            </div>
          <% end %>

        <% end %>
        <!-- end of submissions loop -->
      </tbody>
    </table>
    <!-- end of submissions table -->
  </div>
<% end %>

<% @assignment.submissions.each do |submission| %>
  <!-- Reveal Modals editSubmission -->
  <div id="edit_submission_<%= submission.id %>" class="reveal-modal" data-reveal>
    <%= render '/submissions/form', submission: submission %>
    <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
  </div>
<% end %>

<script>
(function($) {
  "use strict";
  $("#submission_id_submitter_name").chosen().change(function(e, params){
      var show_vals = $('#submission_id_submitter_name').chosen().val();
      var rows = document.getElementsByTagName("tr");
      for (var i = 0; i < rows.length; i++) {  
        rows[i].style.display = '';
      }
      if (show_vals !== null ) { 
        for (var i = 0; i < rows.length; i++) { 
          if(rows[i].parentElement.tagName.toLowerCase() == "tbody") {          
            rows[i].style.display = 'none';
          }
        }  
        for (var j = 0; j < show_vals.length; j++) {         
          document.getElementById("submission_row_"+show_vals[j]).style.display = ''; 
        }
      }
  });
})(jQuery);   
</script>
