<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @submission.grade %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @submission.feedback %>
</p>

<p>
  <strong>Grading test output:</strong>
  <%= link_to @submission.test_result, "#", class: "radius button tiny", "data-reveal-id" => "testResult" %>
</p>

<!-- Reveal Modals begin -->
<div id="testResult" class="reveal-modal" data-reveal>
    <h2>Test Results</h2>
    <p><pre><%= @submission.test_output %></pre></p>
    <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
</div>

<p>
  <strong>Bk test build:</strong>
  <%= @submission.bk_test_build_id %>
</p>

<p>
  <strong>Bk test job:</strong>
  <%= @submission.bk_test_job_id %>
</p>


<%= link_to 'Run Test', test_path(@submission) %> |
<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
