<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :org_name do %>Organization
    <%= f.select(:org_name, user_organizations, {disabled: @course.is_published?}) %>
  <% end %>
  <%= f.submit "Save", class: "button tiny" %>
<% end %>
