<!-- Container Begin -->
<div class="row">
  <div class="large-12 columns">
    <div class="box">
      <div class="box-header bg-transparent">
        <h3 class="box-title"><i class="fontello-wallet"></i>
          <span>COURSES</span>
        </h3>
        <!-- tools box -->
        <div class="pull-right box-tools">
          <span class="box-btn" data-widget="new">
            <%= link_to new_course_path(), class: "text-dark-blue" do %>
              <i class="fontello-plus" title="new"></i>
            <% end %>
          </span>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body " style="display: block;">
        <div class="school-timetable">
          <hr>
          <% @courses.each do |course| %>
          <!-- tools box -->
          <div class="pull-right box-tools">
            <span class="box-btn" data-widget="show">
              <%= link_to course do %>
                <i class="fontello-eye" title="show"></i>
              <% end %>
            </span>
            <span class="box-btn" data-widget="edit">
              <%= link_to edit_course_path(course) do %>
                <i class="fontello-pencil" title="edit"></i>
              <% end %>
            </span>
            <span class="box-btn" data-widget="delete">
              <%= link_to course, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fontello-trash-2" title="delete"></i>
              <% end %>
            </span>
          </div>
          <h5>
            <%= link_to course do %>
            <strong><%= course.name %></strong>
            <% end %>
          </h5>
          <h6><i class="fontello-github"></i><%= course.slug %></h6>
          <h6><i class="fontello-doc-1"></i><%= course.assignments.count %> Assignments</h6>
          <h6><i class="fontello-user"></i><%= course.students.count %> Students</h6>
          <hr>
          <% end %>
        </div>
      </div>
      <!-- end .timeline -->
    </div>
    <!-- box -->
  </div>
</div>
<!-- End of Container Begin -->
