<!-- Container Begin -->
<div class="row">
  <div class="large-12 columns">
    <div class="box">
      <div class="box-header bg-transparent">
        <h3 class="box-title"><i class="entypo-folder"></i>
          <span>COURSES</span>
        </h3>
        <!-- tools box -->
        <div class="pull-right box-tools">

          <% if current_user.instructor? %>
            <span class="box-btn" data-widget="new">
              <%= link_to "#", class: "text-dark-blue", "data-reveal-id": "new_course", "data-reveal": true do %>
                <i class="fontello-plus" title="new"></i>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body " style="display: block;">
        <div class="school-timetable">
          <hr>
          <% @courses.each do |course| %>
          <!-- tools box -->
          <div class="pull-right box-tools">
            <span class="box-btn" data-widget="show">
              <%= link_to course do %>
                <i class="fontello-eye" title="show"></i>
              <% end %>
            </span>

            <% if current_user.instructor? %>
              <span class="box-btn" data-widget="edit">
              <%= link_to "#", "data-reveal-id": "edit_course_#{course.id}", "data-reveal": true do %>
                <i class="fontello-pencil" title="edit"></i>
              <% end %>
              </span>
              <span class="box-btn" data-widget="delete">
                <%= link_to course, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fontello-trash-2" title="delete"></i>
                <% end %>
              </span>
            <% end %>
          </div>
          <h5>
            <%= link_to course do %>
            <strong><%= course.name %></strong>
            <% end %>
          </h5>
          <h6><i class="fontello-github"></i> <%= course.org_name %></h6>
          <h6><i class="fontello-doc-1"></i> <%= pluralize(course.assignments.count, "Assignment") %></h6>
          <h6><i class="fontello-user"></i> <%= pluralize(course.students.count, "Student") %></h6>
          <hr>
          <% end %>
        </div>
      </div>
      <!-- end .timeline -->
    </div>
    <!-- box -->
  </div>
</div>
<!-- End of Container Begin -->

<% if current_user.instructor? %>
  <% @courses.each do |course| %>
    <div id="edit_course_<%= course.id %>" class="reveal-modal" data-reveal>
      <%= render partial: 'courses/form', locals: {course: course} %>
      <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
    </div>
  <% end %>

  <div id="new_course" class="reveal-modal" data-reveal>
    <%= render partial: 'courses/form', locals: {course: @courses.new} %>
    <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
  </div>
<% end %>
