<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @course.slug %>
</p>

<p>
  <strong>Is published:</strong>
  <%= @course.is_published %>
</p>

<p>
  <strong>Test repository:</strong>
  <%= @course.test_repository %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
