<%= stylesheet_link_tag    'jquery.dataTables.min', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.core', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable.standalone', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'footable-demos', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'validate', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'jquery.idealforms', media: 'all', 'data-turbolinks-track' => true %>
<!-- Container Begin -->
<div class="row">
  <div class="large-12 columns">
    <div class="box">
      <div class="box-header bg-transparent">
        <h3 class="box-title"><i class="entypo-folder"></i>
          <span><%= @course.name %></span>
        </h3>
        <!-- tools box -->
        <div class="pull-right box-tools">

          <% if current_user.instructor? %>
            <span class="box-btn">
              <%= link_to "#", "data-reveal-id": "edit_course", "data-reveal": true do %>
                <i class="fontello-pencil" title="edit"></i>
              <% end %>
            </span>
            <span class="box-btn" data-widget="delete">
              <%= link_to @course, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fontello-trash-2" title="delete"></i>
              <% end %>
            </span>
          <% end %>

        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body" style="display: block;">
        <div class="school-timetable">
          <hr>
          <div class="row">
            <% if @course.new_record? %>
              <div class="large-2 columns">
                <h6>Created on:</h6>
              </div>
              <div class="large-10 columns">
                <h6><i class=" fontello-clock"></i> <%= @course.created_at.strftime("%B %-d, %Y") %></h6>
              </div>
            <% else %>
              <div class="large-2 columns">
                <h6>Updated on:</h6>
              </div>
              <div class="large-10 columns">
                <h6><i class=" fontello-clock"></i> <%= @course.updated_at.strftime("%B %-d, %Y") %></h6>
              </div>
            <% end %>
          </div>
          <div class="row">
            <div class="large-2 columns">
              <h6>Organisation: </h6>
            </div>
            <div class="large-10 columns">
              <h6><i class=" fontello-github"></i> <%= @course.org_name %></h6>
            </div>
          </div>
          <div class="row">
            <div class="large-2 columns">
              <h6>Assignments: </h6>
            </div>
            <div class="large-10 columns">
              <h6><%= @course.assignments.count %></h6>
            </div>
          </div>
          <div class="row">
            <div class="large-2 columns">
              <h6>Students: </h6>
            </div>
            <div class="large-10 columns">
              <h6><%= @course.students.count %></h6>
            </div>
          </div>
          <div class="row">
            <div class="large-2 columns">
              <h6>Teams: </h6>
            </div>
            <div class="large-10 columns">
              <h6><%= @course.teams.count %></h6>
            </div>
          </div>
          <div class="row">
            <div class="large-2 columns">
              <h6>Instructors: </h6>
            </div>
            <div class="large-10 columns">
              <h6><%= @course.instructors.count %></h6>
            </div>
          </div>
          <% if @course.test_repository.present? && current_user.instructor? %>
            <div class="row">
              <div class="large-2 columns">
                <h6>Tests Repository: </h6>
              </div>
              <div class="large-10 columns">
                <h6>
                  <i class=" fontello-flow-split"></i>
                  <%= link_to html_url(@course.test_repository), html_url(@course.test_repository), target: "_blank" %>
                </h6>
              </div>
            </div>
          <% end %>
          <% if @course.skeleton_repository.present? && current_user.instructor? %>
            <div class="row">
              <div class="large-2 columns">
                <h6>Skeleton Repository: </h6>
              </div>
              <div class="large-10 columns">
                <h6>
                  <i class=" fontello-flow-split"></i>
                  <%= link_to html_url(@course.skeleton_repository), html_url(@course.skeleton_repository), target: "_blank" %>
                </h6>
              </div>
            </div>
          <% end %>
        </div>
        <hr />
        <% if current_user.instructor? %>
          <div class="row">
            <div class="large-12 columns">
              <%= link_to "View students", students_path(@course), class: "button tiny" %>
              <span class="spacer"></span>
              <%= link_to "View instructors", instructors_path(@course), class: "button tiny" %>
              <% unless @course.is_published? %>
                <%= link_to "Publish", publish_course_path(@course), class: "button tiny right", data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- end .timeline -->
    </div>
    <!-- box -->
  </div>
</div>
<!-- End of Container Begin -->

<!-- Container Begin -->
<div class="row">
  <div class="large-6 columns">
    <%= render '/assignments/assignment' %>
  </div>
  <div class="large-6 columns">
    <%= render '/teams/team' %>
  </div>
</div>
<!-- End of Container Begin -->

<% if current_user.instructor? %>
  <div id="edit_course" class="reveal-modal" data-reveal>
    <%= render partial: 'courses/form', locals: {course: @course} %>
    <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
  </div>

  <div id="addStudent" class="reveal-modal" data-reveal>
    <%= render partial: 'invites/form', locals: {invite: @course.invites.new, course: @course, role: :student} %>
    <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
  </div>

  <div id="addInstructor" class="reveal-modal" data-reveal>
    <%= render partial: 'invites/form', locals: {invite: @course.invites.new, course: @course, role: :instructor} %>
    <%= link_to "&#215;".html_safe, "#", class: "close-reveal-modal" %>
  </div>
<% end %>
