<!DOCTYPE html>
<html lang="en">
<head>
  <title>Easyhandin</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= javascript_include_tag 'pace', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'pace-theme-flash', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'slicknav', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'vendor/modernizr', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- preloader -->
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<!-- End of preloader -->

<div class="off-canvas-wrap" data-offcanvas>
  <!-- right sidebar wrapper -->
  <div class="inner-wrap">
    <!-- Right sidemenu -->
    <div id="skin-select">
      <!--      Toggle sidemenu icon button -->
      <a id="toggle">
        <span class="fa icon-menu"></span>
      </a>
      <!-- End of Toggle sidemenu icon button -->
      <div class="skin-part">
        <div id="tree-wrap">
          <!-- Profile -->
          <div class="profile">
            <%= image_tag "logo.png" %>
            <h3>EASY HAND-IN</h3>
          </div>
          <!-- End of Profile -->

          <!-- Menu sidebar begin-->
          <div class="side-bar">
            <ul id="menu-showhide" class="topnav slicknav">
              <li>
                <a class="tooltip-tip" href="#" title="Courses">
                  <i class=" icon-window"></i>
                  <span>Courses</span>
                </a>
                <ul>
                  <li>
                    <%= link_to( "View all Courses", courses_path) %>
                  </li>
                  <li>
                    <%= link_to( "Add a new Course", new_course_path) %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- end of Menu sidebar  -->
        </div>
      </div>
    </div>
    <!-- end of Rightsidemenu -->

    <div class="wrap-fluid" id="paper-bg">
      <!-- top nav -->
      <div class="top-bar-nest">
        <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
          <ul class="title-area left">
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a>
            </li>
          </ul>
          <section class="top-bar-section ">
            <ul class="right">
              <li class=" bg-white">
                <a class="bg-white">
                  <img class="admin-pic img-circle" src="https://fleep.io/blog/wp-content/uploads/2014/07/github_icon.png">
                  <span class="admin-pic-text text-gray">Logged in as <%= current_user.name %> (<%= current_user.username %>)</span>
                </a>
              </li>
              <li class="bg-white">
                <%= link_to signout_path, class: "bg-white text-gray" do %>
                  <strong><i class="icon-upload"></i><span> Logout</span></strong>
                <% end %>
              </li>
            </ul>
          </section>
        </nav>
      </div>
      <!-- end of top nav -->

      <!-- breadcrumbs -->
      <ul class="breadcrumbs">
        <li><!-- link to dashboard once it is set up -->
          <%= link_to courses_path do %>
          <span class="entypo-home"></span>
          <% end %>
        </li>
        <li><%= current_controller %>
        </li>
        <li><%= current_action %>
        </li>
      </ul>
      <!-- end of breadcrumbs -->
      <%= render partial: 'shared/alert' %>

      <%= yield %>

      <footer>
        <div id="footer">Copyright &copy; 2015 <a href="http://github.com/shilpasequeira/easyhandin">MSS Group 3</a>
          Made with <i class="fontello-heart-1 text-green"></i></div>
      </footer>
    </div>
    <!-- End of Container Begin -->
  </div>
  <!-- end paper bg -->
</div>
<!-- end of inner-wrap -->
</div>
<!-- end of off-canvas-wrap -->

<%= javascript_include_tag 'waypoints.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'preloader-script.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'foundation.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.slimscroll.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.slicknav.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'sliding-menu.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'scriptbreaker-multiple-accordion-1.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.counterup.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.circliful.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'app', 'data-turbolinks-track.js' => true %>
</body>
</html>
